td {
	font-family: 'Nobile', arial, serif;
}

.title {
	font-size: 8em;
}
.content {
	background-image: url("/img/koenig_black.png");	
}
.black {
	color: black;
	background-color: white;
}

.white {
	color: white;
	background-color: black;
}

.button {
	border: 5px solid black;
	padding: 5px;
	vertical-align: top;
}

a,a:ACTIVE,a:HOVER,a:VISITED {
	color: white;
	text-decoration: none;
}

.top {
	vertical-align: top;
}